/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
    /* this class is used to horizontally align the gallery of items */
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

/* -------------------------------- 

xheader 

-------------------------------- */

#main-nav,
#cd-cart {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
}
#cd-cart {
    right: -100%;
    background: #FFF;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
}
#cd-cart.speed-in {
    right: 0;
}
#cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;
}
#cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}
#close-menu-button {
    position: absolute;
    right: 20px;
    top: 20px;
}
.mobile-menu-row {
    width: 100%;
    height: 96px;
}

/*
.menu-list {

    transform: translate(0, 50%);
}*/

@media screen and (min-width: 600px) {
    .menu-list li {
        margin-top: 100px;
    }
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
