.full-page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Background da cambiare*/
    background-image: url("../img/wallpaper.png");
}

.centered-logo {
    position: absolute;
    top: 0%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    
}