/*
Navbar style
*/
.navbar {
    background-color: transparent;
    top: 0;
    height: 96px;
    width: 100%;
    display: inline-flex;
}

.nav-left {
    width: 50%;
    height: 100%;
    background-color: white;
}

.nav-right {
    width: 50%;
    height: 100%;
    background-color: black;
}

.coder-dojo-logo {

    position: absolute;
    height: 144px;
    width: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.nav-list {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
}
.nav-list li {
    margin-left: 50px;
}

.button-collapse {
    position: relative;
    left: 80%;
}

/*
Every page style
*/

.con {
    
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

/*
Timeline style
*/

.central-line {
    
    background-color: gainsboro;
    position: absolute;
    width: 4px;
    height: 100%;
    top: 150px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

/*.centered-pallozzo {

    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}*/

.line {

    z-index: 1;
    height: 4px;
    width: 100%;
    background-color: gray;
    position: relative;
    top: 50%;
    margin-bottom: -50%;
    transform: (0, -50%);
}

/*
    cards style
*/
#logo {
        max-height: 150px;
        max-width: auto;
    }

    h4 {
        text-align: center;
    }
/*
    profile style
*/

#profile_pic{
   max-height: 150px;
   max-width: 150px;
}
#about_back_firs{
    margin-left: 25px;
    margin-right: 25px;
    background: url("../img/povo.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

/*
    Home page style
*/
