/*
Navbar style
*/
.navbar {
    background-color: transparent;
    top: 0;
    height: 96px;
    width: 100%;
    display: inline-flex;
}

.nav-left {
    width: 50%;
    height: 100%;
    background-color: white;
}

.nav-right {
    width: 50%;
    height: 100%;
    background-color: black;
}

.coder-dojo-logo {

    position: absolute;
    height: 144px;
    width: auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.nav-list {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
}
.nav-list li {
    margin-left: 50px;
}

.button-collapse {
    position: relative;
    left: 80%;
}

/*
Every page style
*/

.con {
    
    margin-top: 50px;
}

/*
Timeline style
*/

.central-line {
    
    background-color: gainsboro;
    position: absolute;
    width: 2px;
    height: 70%;
    top: 150px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

/*.centered-pallozzo {

    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}*/

.line {

    z-index: 1;
    height: 4px;
    width: 200px;
    background-color: gray;
    position: relative;
    top: 50%;
    margin-bottom: -50%;
    transform: (0, -50%);
}