<div class="con" >

   <!-- First row -->
    <div class="row" id="about_back_first" >
     <div class="col s12 l5 offset-l1 m8 offset-m2 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../img/michele_profile.jpg" alt="" class="circle responsive-img" id="profile_pic">
            </div>
            <div class="col s9 offset-m1 offset-l1 offset-s1">
              <span class="black-text">
               <h5>Michele Romani</h5>
                Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development.
              </span>
            </div>

          </div>
        </div>
      </div>


      <div class="col s12 l5 m8 offset-m2 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../img/michele_profile.jpg" alt="" class="circle responsive-img" id="profile_pic">
            </div>
            <div class="col s9 offset-m1 offset-l1 offset-s1">
              <span class="black-text">
               <h5>Michele Romani</h5>
                Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development.
              </span>
            </div>

          </div>
        </div>
      </div>

  </div>

     <!-- Second Row -->
     <div class="row">
     <div class="col s12 l5 offset-l1 m8 offset-m2 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../img/michele_profile.jpg" alt="" class="circle responsive-img" id="profile_pic">
            </div>
            <div class="col s9 offset-m1 offset-l1 offset-s1">
              <span class="black-text">
               <h5>Michele Romani</h5>
                Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development.
              </span>
            </div>

          </div>
        </div>
      </div>

      <div class="col s12 l5 m8 offset-m2 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../img/michele_profile.jpg" alt="" class="circle responsive-img" id="profile_pic">
            </div>
            <div class="col s9 offset-m1 offset-l1 offset-s1">
              <span class="black-text">
               <h5>Michele Romani</h5>
                Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development.
              </span>
            </div>

          </div>
        </div>
      </div>

  </div>



</div>
