<div class="con" >

   <!-- First row -->
    <div class="row" id="about_back_first" >
     <div class="row">
     <div class="col s12 l5 offset-l1 m8 offset-m2 ">
     <div class="card small hoverable"   class="fade">
                <div class="card-image circle waves-effect waves-block waves-light" id="profile_pic">
                    <img class="activator responsive-img" src="../img/michele_profile.jpg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Michele Romani<i class="material-icons right">info</i></span>
                    <p>CoderDojo Mentor</p>
                    <i class="material-icons">email</i>
                    <i class="material-icons">phone</i>
                    <i class="material-icons">person_pin</i>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Michele Romani<i class="material-icons right">close</i></span>
                    <p>
                        Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development. Nel tempo libero porto avanti progetti personali di sviluppo software, per lo più siti web e Java, lavoro part-time quando capita e mi dedico ad attività sportive quali kick-boxe e scherma rinascimentale. Trovo ovviamente anche il tempo di uscire con gli amici e giocare ai videogames, in particolare League Of Legends assieme alla squadra universitaria del CUS Trento.
                    </p>
                </div>
            </div>
      </div>
      <div class="col s12 l5  m8 offset-m2  ">
     <div class="card small hoverable"   class="fade">
                <div class="card-image circle waves-effect waves-block waves-light" id="profile_pic">
                    <img class="activator responsive-img" src="../img/michele_profile.jpg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Michele Romani<i class="material-icons right">info</i></span>
                    <p>CoderDojo Mentor</p>
                    <i class="material-icons">email</i>
                    <i class="material-icons">phone</i>
                    <i class="material-icons">person_pin</i>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Michele Romani<i class="material-icons right">close</i></span>
                    <p>
                        Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development. Nel tempo libero porto avanti progetti personali di sviluppo software, per lo più siti web e Java, lavoro part-time quando capita e mi dedico ad attività sportive quali kick-boxe e scherma rinascimentale. Trovo ovviamente anche il tempo di uscire con gli amici e giocare ai videogames, in particolare League Of Legends assieme alla squadra universitaria del CUS Trento.
                    </p>
                </div>
            </div>
      </div>
    </div>

     <!-- Second Row -->
     <div class="row">
     <div class="col s12 l5 offset-l1 m8 offset-m2 ">
     <div class="card small hoverable"   class="fade">
                <div class="card-image circle waves-effect waves-block waves-light" id="profile_pic">
                    <img class="activator responsive-img" src="../img/michele_profile.jpg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Michele Romani<i class="material-icons right">info</i></span>
                    <p>CoderDojo Mentor</p>
                    <i class="material-icons">email</i>
                    <i class="material-icons">phone</i>
                    <i class="material-icons">person_pin</i>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Michele Romani<i class="material-icons right">close</i></span>
                    <p>
                        Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development. Nel tempo libero porto avanti progetti personali di sviluppo software, per lo più siti web e Java, lavoro part-time quando capita e mi dedico ad attività sportive quali kick-boxe e scherma rinascimentale. Trovo ovviamente anche il tempo di uscire con gli amici e giocare ai videogames, in particolare League Of Legends assieme alla squadra universitaria del CUS Trento.
                    </p>

                </div>
            </div>
      </div>
      <div class="col s12 l5  m8 offset-m2  ">
     <div class="card small hoverable"   class="fade">
                <div class="card-image circle waves-effect waves-block waves-light" id="profile_pic">
                    <img class="activator responsive-img" src="../img/michele_profile.jpg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Michele Romani<i class="material-icons right">info</i></span>
                    <p>CoderDojo Mentor</p>
                    <i class="material-icons">email</i>
                    <i class="material-icons">phone</i>
                    <i class="material-icons">person_pin</i>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Michele Romani<i class="material-icons right">close</i></span>
                    <p>
                        Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development. Nel tempo libero porto avanti progetti personali di sviluppo software, per lo più siti web e Java, lavoro part-time quando capita e mi dedico ad attività sportive quali kick-boxe e scherma rinascimentale. Trovo ovviamente anche il tempo di uscire con gli amici e giocare ai videogames, in particolare League Of Legends assieme alla squadra universitaria del CUS Trento.
                    </p>

                </div>
            </div>
      </div>
  </div>
  <!-- Third Row -->
     <div class="row">
     <div class="col s12 l5 offset-l1 m8 offset-m2 ">
     <div class="card small hoverable"   class="fade">
                <div class="card-image circle waves-effect waves-block waves-light" id="profile_pic">
                    <img class="activator responsive-img" src="../img/michele_profile.jpg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Michele Romani<i class="material-icons right">info</i></span>
                    <p>CoderDojo Mentor</p>
                    <i class="material-icons">email</i>
                    <i class="material-icons">phone</i>
                    <i class="material-icons">person_pin</i>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Michele Romani<i class="material-icons right">close</i></span>
                    <p>
                        Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development. Nel tempo libero porto avanti progetti personali di sviluppo software, per lo più siti web e Java, lavoro part-time quando capita e mi dedico ad attività sportive quali kick-boxe e scherma rinascimentale. Trovo ovviamente anche il tempo di uscire con gli amici e giocare ai videogames, in particolare League Of Legends assieme alla squadra universitaria del CUS Trento.
                    </p>

                </div>
            </div>
      </div>
      <div class="col s12 l5  m8  ">
     <div class="card small hoverable"   class="fade">
                <div class="card-image circle waves-effect waves-block waves-light" id="profile_pic">
                    <img class="activator responsive-img" src="../img/michele_profile.jpg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Michele Romani<i class="material-icons right">info</i></span>
                    <p>CoderDojo Mentor</p>
                    <i class="material-icons">email</i>
                    <i class="material-icons">phone</i>
                    <i class="material-icons">person_pin</i>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Michele Romani<i class="material-icons right">close</i></span>
                    <p>
                        Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development. Nel tempo libero porto avanti progetti personali di sviluppo software, per lo più siti web e Java, lavoro part-time quando capita e mi dedico ad attività sportive quali kick-boxe e scherma rinascimentale. Trovo ovviamente anche il tempo di uscire con gli amici e giocare ai videogames, in particolare League Of Legends assieme alla squadra universitaria del CUS Trento.
                    </p>

                </div>
            </div>
      </div>
  </div>



</div>

<!-- <div class="flipWrapper">
        <div class="flip-card">
            <div class="face front">
                 <img src="../img/michele_profile.jpg" alt="" class="circle responsive-img" id="profile_pic">
            </div>
            <div class="face back">
                Script
            </div>
        </div>
    </div>



    <div class="col s12 l5 m8 offset-m2 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="../img/michele_profile.jpg" alt="" class="circle responsive-img" id="profile_pic">
            </div>
            <div class="col s9 offset-m1 offset-l1 offset-s1">
              <span class="black-text">
               <h5>Michele Romani</h5>
                Sono uno studente di Informatica ed appasionato di tecnologia,in particolare adoro il Web ed i videogames. Come mentor di Corderdojo mi occupo dei corsi di Game Development.
              </span>
            </div>

          </div>
        </div>
      </div>
-->
