<div class="con">

    <!--row del basic development   -->
    <div class="row" id="GameDevelopment" >
        <h4>Basic Development</h4>
        <div class="col s12 m6 offset-m3" >
            <div class="card small hoverable"   class="fade">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../img/Python_logo_and_wordmark.svg.png" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Python<i class="material-icons right">more_vert</i></span>
                    <p>Impara a programmare con Python</p>
                    <p><a href="#">Vai al tutorial</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Python<i class="material-icons right">close</i></span>
                    <p>
                        Python è un linguaggio di programmazione ad alto livello, orientato agli oggetti, adatto, tra gli altri usi, per sviluppare applicazioni distribuite, scripting, computazione numerica e system testing. Fu ideato da Guido van Rossum all'inizio degli anni novanta. Il nome fu scelto per via della passione di van Rossum per i Monty Python e per la loro serie televisiva Monty Python's Flying Circus.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!--row del web development-->
    <div class="row" id="WebDevelopment">
        <h4>Web Development</h4>
        <div class="col s12 m5 offset-m1">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../img/HTML5CSS3Logos.svg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">HTML5 e CSS3<i class="material-icons right">more_vert</i></span>
                    <p>Crea e dai stile ai tuoi siti con HTML e CSS</p>
                    <p><a href="#">Vai al tutorial</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">HTML5 e CSS3<i class="material-icons right">close</i></span>
                    <p>
                        L'HyperText Markup Language (HTML), in informatica è il linguaggio di markup solitamente usato per la formattazione e impaginazione di documenti ipertestuali disponibili nel World Wide Web sotto forma di pagine web. Il CSS (Cascading Style Sheets, in italiano fogli di stile), in informatica, è un linguaggio usato per definire la formattazione di documenti HTML, XHTML e XML ad esempio i siti web e relative pagine web.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5 ">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img " src="../img/js.svg" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">JavaScript<i class="material-icons right">more_vert</i>
             </span>
                    <p>Crea potenti animazioni per i tuoi siti con JS</p>
                    <p><a href="#">Vai al tutorial</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">JavaScript<i class="material-icons right">close</i></span>
                    <p>
                        In informatica JavaScript è un linguaggio di scripting orientato agli oggetti e agli eventi,comunemente utilizzato nella programmazione Web per la creazione di effetti dinamici interattivi tramite funzioni di script invocate da eventi innescati a loro volta in vari modi dall'utente sulla pagina web in uso (mouse, tastiera ecc...).A differenza di altri linguaggi, quali il C o il C++, che permettono la scrittura di programmi completamente stand-alone, JavaScript viene utilizzato soprattutto in quanto linguaggio di scripting, integrato, quindi, all'interno di un altro programma.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!--row del game development   -->
    <div class="row" id="GameDevelopment">
        <h4>Games Development</h4>
        <div class="col s12 m5 offset-m1">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="../img/construct2.png" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Construct2<i class="material-icons right">more_vert</i></span>
                    <p>Sviluppa giochi 2D con Construct2</p>
                    <p><a href="#">Vai al tutorial</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Construct2<i class="material-icons right">close</i></span>
                    <p>
                        Construct2 e' un potente tool per la creazione di videogames in HTML5, realizzato appositamente per i giochi in 2D. Permette a chiunque di poter creare giochi: non e' necessario scrivere codice!
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5 ">
            <div class="card small hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img " src="../img/Official_unity_logo.png" id="logo">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Unity<i class="material-icons right">more_vert</i>
             </span>
                    <p>Sviluppa giochi 3D con Unity</p>
                    <p><a href="#">Vai al tutorial</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Unity<i class="material-icons right">close</i></span>
                    <p>
                        Unity e' uno strumento di sviluppo multiplatform finalizzato alla creazione di videogiochi 3D o altri contenuti 3D, quali visualizzazioni architettoniche o animazioni in tempo reale. E' richiesta conoscenza di programmazione a oggetti.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
