<div class="con">
    <div class="row">
        <h2 class="center-align">Eventi</h2>
    </div>
    <div class="row valign-wrapper">
        <div class="col s9 m5 l4 offset-m1 offset-l1">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../img/disi_building.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Coding session<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Coding session<i class="material-icons right">close</i></span>
                    <p>Incontro organizzato da studenti di informatica per le ragazze ed i ragazzi delle scuole superiori interessati ad avventurarsi nel mondo della programmazione o ad approfondire le proprie conoscenze. Ci troviamo nell'aula Garda del Polo 1 (secondo piano, in ascensore tasto 1) al Polo Scientifico e Tecnologico Fabio Ferrari in via Sommarive 18, Povo (TN).
                    </p>
                    <div class="card-action center-align">
                        <div class="row">
                            <div class="col s12">
                                <a class="waves-effect waves-light btn facebook-btn white-text" target="_blank" href="https://www.facebook.com/events/898277283585432/"><i class="material-icons right">event</i>Evento Facebook</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a class="waves-effect waves-light btn facebook-btn white-text" target="_blank" href="http://goo.gl/forms/kyTDCE5Csc"><i class="material-icons right">event</i>Form di iscrizione</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col m2 l2 hide-on-med-and-down">
            <div class="line"></div>
        </div>

        <div class="col s1 m2 l2 valign">
            <h5 class="thin">
                22 Ott
            </h5>

        </div>
    </div>

    <!-- SCHEDA EVENTO SIMMETRICA -->

    <div class="row valign-wrapper">

        <div class="col s1 m2 l2 offset-s1 offset-m4 offset-l3 valign">
            <h5 class="thin right">
                5 Nov
            </h5>

        </div>


        <div class="col m2 l2 hide-on-med-and-down">
            <div class="line"></div>
        </div>

        <div class="col s9 m5 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../img/povo.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Coding session<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Coding session<i class="material-icons right">close</i></span>
                    <p>Dettagli a seguire</p>
                    <div class="center-align">
                        <a class="waves-effect waves-light btn facebook-btn white-text disabled" target="_blank" href=""><i class="material-icons right">event</i>Evento Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="central-line hide-on-med-and-down"></div>
</div>