<div class="con">
    <div class="row">
        <h2 class="center-align">Eventi</h2>
    </div>
    <div class="row valign-wrapper">
        <div class="col s9 m4 l3 offset-m1 offset-l2">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../img/disi_building.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Coding session<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Coding session<i class="material-icons right">close</i></span>
                    <p>Incontro organizzato da studenti di informatica per le ragazze ed i ragazzi delle scuole superiori interessati ad avventurarsi nel mondo della programmazione o ad approfondire le proprie conoscenze. Ci troviamo nell'aula Garda del Polo 1 (secondo piano, in ascensore tasto 1) al Polo Scientifico e Tecnologico Fabio Ferrari in via Sommarive 18, Povo (TN).
</p>
                    <a class="waves-effect waves-light btn facebook-btn white-text" target="_blank" href="https://www.facebook.com/events/898277283585432/"><i class="material-icons right">event</i>Evento Facebook</a>
                </div>
            </div>
        </div>

        <div class="col m2 l2">
            <div class="line"></div>
        </div>

        <div class="col s1 m2 l2 valign">
            <h5 class="thin">
                22 Ott
            </h5>

        </div>
    </div>
    
    <!-- SCHEDA EVENTO SIMMETRICA -->

    <!--<div class="row valign-wrapper">

        <div class="col s1 m2 l2 offset-s1 offset-m3 offset-l3 valign">
            <h5 class="thin right">
                22 Ott
            </h5>

        </div>


        <div class="col m2 l2">
            <div class="line"></div>
        </div>

        <div class="col s9 m4 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://lorempixel.com/g/400/200/cats/3">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Coding session<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Coding session<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    <a class="waves-effect waves-light btn facebook-btn white-text" target="_blank"><i class="material-icons right">event</i>Evento Facebook</a>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="central-line hide-on-small-only"></div>
</div>
