<div class="con">
    <div class="row">
        <div class="col l4 m4 s10 offset-l3 offset-m3 offset-s1">
            <a class="black-text center-align" href="#courses">
                <h1>Corsi</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s10 offset-l5 offset-m5 offset-s1">
            <a class="black-text center-align" href="#tutorials">
                <h1>Tutorial</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s10 offset-l3 offset-m3 offset-s1">
            <a class="black-text center-align" href="#events">
                <h1>Eventi</h1>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s10 offset-l5 offset-m5 offset-s1">
            <a class="black-text center-align" href="#about">
                <h1>Chi siamo</h1>
            </a>
        </div>
    </div>
</div>
