<div class="con">
   <div class="row hide-on-large-only">
       <h3 class="center-align">CoderDojo DISI</h3>
   </div>
    <div class="row">
        <div class="col l4 m4 s10 offset-l3 offset-m3 offset-s1">
            <a class="black-text center-align" href="#courses">
                <h1 class="hide-on-small-only">CORSI</h1>
                <h3 class="hide-on-med-and-up">CORSI</h3>
            </a>
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s10 offset-l5 offset-m5 offset-s1">
            <a class="black-text center-align" href="#tutorials">
                <h1 class="hide-on-small-only">TUTORIAL</h1>
                <h3 class="hide-on-med-and-up">TUTORIAL</h3>
            </a>
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s10 offset-l3 offset-m3 offset-s1">
            <a class="black-text center-align" href="#events">
                <h1 class="hide-on-small-only">EVENTI</h1>
                <h3 class="hide-on-med-and-up">EVENTI</h3>
            </a>
            <div class="divider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m4 s10 offset-l5 offset-m5 offset-s1">
            <a class="black-text center-align" href="#about">
                <h1 class="hide-on-small-only">CHI SIAMO</h1>
                <h3 class="hide-on-med-and-up">CHI SIAMO</h3>
            </a>
            <div class="divider"></div>
        </div>
    </div>
</div>
