<div layout="column" layout-align="center center" layout-padding>
    <!-- Description -->
    <div class="separator">
    </div>
    <h1>Corsi</h1>

    <div ng-show="ctrl.loading">
        <!-- loading template -->
        <div tetrominoloading></div>
    </div>

    <md-content flex style="width: 100%;" ng-hide="ctrl.loading">
        <div layout="row" layout-align="space-around center" class="side-padded" ng-repeat="course in ctrl.courses track by $index" style="margin-bottom: 2em;">
            <md-card class="card md-whiteframe-8dp" flex>
                <img data-ng-src="data:{{course.img.content_type}};base64,{{course.img.file}}" class="md-card-image" alt="Immagine" style="max-height: 10em; padding: 1em;">
                <md-card-title>
                    <md-card-title-text layout="row">
                        <div flex layout="column">
                            <span class="md-headline">{{course.type}}</span>
                            <span class="md-subhead">{{course.title}}</span>
                        </div>
                        <div layout-align="center center" layout="row">
                            <md-button class="md-icon-button" ng-click="ctrl.toggleDescription($index)">
                                <i class="material-icons">info</i>
                            </md-button>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content ng-show="course.showDescription" class="double-interline" style="background-color: #fafafa; padding-top: 2em; padding-bottom: 2em;">
                    <p>{{course.description}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-href="{{course.tutorialUrl}}" layout="row">
                        <span>Vai al Tutorial</span><i class="material-icons">chevron_right</i>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>
