<div layout="column" layout-align="center center" layout-padding>
    <!-- Description -->
    <div class="separator">
    </div>
    <h1>Eventi</h1>

    <div ng-show="ctrl.loading">
        <!-- loading template -->
        <div tetrominoloading></div>
    </div>
    <div class="central-line" hide-xs hide-sm ng-hide="ctrl.loading"></div>

    <div layout="row" style="width: 100%" ng-repeat-start="event in ctrl.events | orderBy:'-date' track by $index" ng-hide="ctrl.loading || $odd ">
        <div flex>
            <md-card class="card md-whiteframe-8dp">
                <div ng-hide="event.showDescription">
                    <img ng-class="{old: ctrl.checkDate(event.date)}" ng-src="/img/povo.png" class="md-card-image" alt="Immagine">
                    <md-card-title>
                        <md-card-title-text layout="row">
                            <div flex layout="column">
                                <span class="md-headline">{{event.title}}</span>
                                <span class="md-subheader" hide-md hide-lg hide-xl>{{event.date | date : 'd MMM'}}</span>
                            </div>
                            <div layout-align="center center" layout="row">
                                <md-button class="md-icon-button" ng-click="ctrl.toggleDescription($index)">
                                    <i class="material-icons">info</i>
                                </md-button>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                </div>
                <md-card-content ng-show="event.showDescription" class="double-interline">
                    <div layout="row" layout-align="center center">
                        <h2>{{event.title}}</h2>
                        <md-button class="md-icon-button" ng-click="ctrl.toggleDescription($index)">
                            <i class="material-icons">close</i>
                        </md-button>
                    </div>
                    <p>{{event.description}}</p>
                    <div layout="column" layout-align="center center">
                        <md-button layout="row" ng-class="{disabled: ctrl.checkDate(event.date)}" class="gform-btn" target="_blank" ng-href="{{event.urls.googleForm}}">
                            <i class="material-icons">description</i>
                            <span>Google Form</span>
                        </md-button>
                        <md-button  layout="row" ng-class="{disabled: ctrl.checkDate(event.date)}" class="fb-btn" target="_blank" ng-href="{{event.urls.facebook}}">
                            <i class="material-icons">event</i>
                            <span> Evento Facebook</span>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div flex layout="column" layout-align="center center"  hide-xs hide-sm >
            <div class="event-line"></div>
        </div>

        <div flex hide-xs hide-sm layout="column" layout-align="center center">
            <h2>{{event.date | date : 'd MMM'}}</h2>

        </div>
    </div>

    <div layout="row" style="width: 100%" ng-repeat-end class="row valign-wrapper" ng-hide="ctrl.loading || $even">

        <div flex hide-xs hide-sm layout="column" layout-align="center center">
            <h2>{{event.date | date : 'd MMM'}}</h2>

        </div>


        <div flex layout="column" layout-align="center center"  hide-xs hide-sm >
            <div class="event-line"></div>
        </div>

        <div flex>
            <md-card class="card md-whiteframe-8dp">
                <div ng-hide="event.showDescription">
                    <img ng-class="{old: ctrl.checkDate(event.date)}" ng-src="/img/povo.png" class="md-card-image" alt="Immagine">
                    <md-card-title>
                        <md-card-title-text layout="row">
                            <div flex layout="column">
                                <span class="md-headline">{{event.title}}</span>
                                <span class="md-subheader" hide-md hide-lg hide-xl>{{event.date | date : 'd MMM'}}</span>
                            </div>
                            <div layout-align="center center" layout="row">
                                <md-button class="md-icon-button" ng-click="ctrl.toggleDescription($index)">
                                    <i class="material-icons">info</i>
                                </md-button>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                </div>
                <md-card-content ng-show="event.showDescription" class="double-interline">
                    <div layout="row" layout-align="center center">
                        <h2>{{event.title}}</h2>
                        <md-button class="md-icon-button" ng-click="ctrl.toggleDescription($index)">
                            <i class="material-icons">close</i>
                        </md-button>
                    </div>
                    <p>{{event.description}}</p>
                    <div layout="column" layout-align="center center">
                        <md-button layout="row" ng-class="{disabled: ctrl.checkDate(event.date)}" class="gform-btn" target="_blank" ng-href="{{event.urls.googleForm}}">
                            <i class="material-icons">description</i>
                            <span>Google Form</span>
                        </md-button>
                        <md-button  layout="row" ng-class="{disabled: ctrl.checkDate(event.date)}" class="fb-btn" target="_blank" ng-href="{{event.urls.facebook}}">
                            <i class="material-icons">event</i>
                            <span> Evento Facebook</span>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
