<div class="con">
    <!-- Description -->
    <div class="row">
        <div class="col s12 m12 l12">
            <h2 class="center-align">F.A.Q.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6 center-align">
            <h4 class="">Contattaci! </h4>
        </div>
        <div class="col s12 m6 l6 center-align">
            <a class="btn-large facebook-btn white-text waves-effect waves-light" style="margin-top: 5px;" target="_blank" href="https://www.facebook.com/coderdojodisi">PAGINA FACEBOOK</a>
        </div>
    </div>

    <div ng-show="ctrl.loading">
        <!-- loading template -->
        <div tetrominoloading></div>
    </div>

    <div class="row" ng-repeat="faq in ctrl.faqs" ng-hide="ctrl.loading">
        <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1">
            <h5>{{faq._id + ". " + faq.title}}
            </h5>
            <p>
                {{faq.description}}
            </p>
        </div>
    </div>
</div>
