<div layout="column" layout-align="center center" layout-padding>
    <!-- Description -->
    <div class="separator">
    </div>
    <h1>F.A.Q.</h1>
    <div>
        <md-button class="md-raised fb-btn" target="_blank" href="https://www.facebook.com/coderdojodisi">PAGINA FACEBOOK</md-button>
    </div>

    <div ng-show="ctrl.loading">
        <!-- loading template -->
        <div tetrominoloading></div>
    </div>
    <md-content flex layout-padding ng-hide="ctrl.loading">
        <div ng-repeat="faq in ctrl.faqs">
            <div layout="column" layout-align="center center" class="side-padded">
                <h2 style="text-align: center;">{{faq.title}}
                </h2>
                <p class="double-interline bigger-font">
                    {{faq.description}}
                </p>
            </div>
        </div>
    </md-content>
</div>
