<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://pixabay.com/static/uploads/photo/2015/06/24/15/45/code-820275_960_720.jpg">
            <div class="caption slider-captions center-align">
                <h1 class="black-text">Coderdojo Master</h1>
                <h4 class="light grey-text text-darken-4">Let's code together!</h4>
            </div>
        </li>
        <li>
            <img src="https://pixabay.com/static/uploads/photo/2016/03/02/08/57/mountains-1231979_960_720.jpg">
            <div class="caption slider-captions right-align">
                <h3 class="black-text">Software is the language of our world</h3>
                <h5 class="light grey-text text-darken-4">Writing software is about expression, creativity - and practical application</h5>
            </div>
        </li>
        <li>
            <img src="https://pixabay.com/static/uploads/photo/2015/12/07/01/41/arduino-1080214_960_720.jpg">
            <div class="caption slider-captions left-align">
                <h3 class="black-text">CoderDojo gives opportunities</h3>
                <h5 class="dark grey-text text-darken-4">CoderDojo gives the opportunity to discover and understand the technology which shapes the world we live in</h5>
            </div>
        </li>

    </ul>
</div>
