<div layout="column" layout-align="center center">
    <md-content layout="column">
        <div flex layout="row" layout-xs="column" layout-sm="column" ng-cloak style="height: 30em;">
            <img flex src="http://lorempixel.com/1920/1080/technics/5">
            <div flex layout="column" layout-align="center center">
                <h1>Coderdojo Master</h1>
                <h2>Let's code together!</h2>
            </div>
        </div>
        <div flex layout="row" layout-xs="column" layout-sm="column" ng-cloak style="height: 30em;">
            <div flex layout="column" layout-align="center center">
                <h1>Software is the language of our world</h1>
                <h2>Writing software is about expression, creativity - and practical application</h2>
            </div>
            <img flex src="http://lorempixel.com/1920/1080/technics/6">
        </div>
        <div flex layout="row" layout-xs="column" layout-sm="column" ng-cloak style="height: 30em;">
            <img flex src="http://lorempixel.com/1920/1080/technics/3">
            <div flex layout="column" layout-align="center center" style="text-align: center;">
                <h1 class="">CoderDojo gives the opportunity to discover and understand the technology which shapes the world we live in</h1>
                <h2 class="">CoderDojo gives the opportunity to discover and understand the technology which shapes the world we live in</h2>
            </div>
        </div>
    </md-content>
</ul>
</div>
