<div layout="column" layout-align="center center" layout-padding>
    <!-- Description -->
    <div class="separator">
    </div>

    <h1>Tutorial</h1>

    <div ng-show="ctrl.loading">
        <!-- loading template -->
        <div tetrominoloading></div>
    </div>

    <md-content flex layout-padding ng-hide="ctrl.loading">
        <img class="work-in-progress" src="/img/WorkInProgess.svg">
        <h2 style="text-align: center;">Work in progress</h2>
    </md-content>


    <div class="row" ng-repeat="tutorial in ctrl.tutorials" ng-hide="ctrl.loading">
        <div class="col s10 m10 l10 offset-l1 offset-m1 offset-s1">
            <h4>{{tutorial.title}}</h4>
            <p>{{tutorial.description}}</p>
        </div>
    </div>
</div>
