.page-footer {
    background-color: white;
}

/*
Navbar style
*/

.navbar {
    background-color: transparent;
    top: 0;
    height: 96px;
    width: 100%;
    display: flex;
}
.nav-left {
    width: 50%;
    height: 100%;
    background-color: white;
}
.nav-right {
    width: 50%;
    height: 100%;
    background-color: black;
}
.coder-dojo-logo {
    position: relative;
}
.nav-list {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
}
.nav-list li {
    margin-left: 50px;
}
.button-collapse {
    position: absolute;
    right: 20px;
    top: 20px;
}
.wrap {
    z-index: 999;
    position: absolute;
    height: 144px;
    width: 144px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
@media only screen and (min-width: 993px) {
    /* Bounce In */
    .hvr-bounce-in {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .hvr-bounce-in:hover,
    .hvr-bounce-in:focus,
    .hvr-bounce-in:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
}
.navbar-menu {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: row;
}
.navbar-menu li {
    margin-right: 2em;
}
.navbar-menu li span {
    font-size: 1.5em;
}
.navbar-menu li span:hover {
    color: #757575;
}
.page-active {
    text-decoration: underline;
}
.black-background {
    background-color: black;
}

/*
    Every page style
*/

main {
    z-index: 1;
}
.con {
    margin-top: 50px;
    height: auto;
    width: 100%;
}
p {
    text-align: justify;
}

.old {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
    opacity: 0.8;
}

.event-btn {

	width: 65%;
	margin: 0.2em;
}

@media only screen and (max-width: 600px) {

	.event-btn {
		width: 100%;
	}
}

.facebook-btn {

	background-color: #4E69A2;
}

.form-btn {

	background-color: #61c;
}

.loading-img {
    width: 200px;
}

/*
    Event page style
*/

.central-line {
    background: linear-gradient(#ffffff 0%, #e0e0e0 10%,#e0e0e0 90%, #ffffff 100%);
    position: absolute;
    width: 4px;
    top: 210px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.line {
    z-index: 1;
    height: 4px;
    width: 100%;
    background-color: #757575;
    position: relative;
    top: 50%;
    margin-bottom: -50%;
    transform: (0, -50%);
}

/*
    Home page style
*/

.slides li img {

    opacity: 0.30;
}

/*
    cards style
*/

.course-logo {
    max-height: 150px;
}
h4 {
    text-align: center;
}

/*
    profile style
*/

.profile_pic {
    max-height: 150px;
    max-width: 150px;
    margin: 1.2em;
}
#about_back_firs {
    margin-left: 25px;
    margin-right: 25px;
    background: url("../img/povo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*
    Error page style
*/

.centered {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-bottom: -50%;
    transform: translate(-50%, -50%);
}

.error-img {
    border-radius: 50%;
}

@media only screen and (max-height: 800px) {

    .error-img {
        margin-top: 60px;
        width: 150px;
        height: auto;
    }
}

/*
    Work in progress image
*/

@media only screen and (min-height: 801px) {
    .work-in-progress {

        width: 400px;
        height: auto;
    }
}

@media only screen and (max-height: 800px) {

    .work-in-progress {
        margin-top: 150px;
        width: 250px;
        height: auto;
    }
}

/*
    Loading animation
*/
.tetrominos {
    transform: translate(-112px, 30px);
}

.tetromino {
    width: 96px;
    height: 112px;
    position: absolute;
    left: 50%;
    transition: all ease .3s;
    background-image: url("/static/img/cubeYing.png");
    background-size: cover;
    /*background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;*/
}

.box1 {
    animation: tetromino1 1.5s ease-out infinite;
}
.box2 {
    animation: tetromino2 1.5s ease-out infinite;
}
.box3 {
    animation: tetromino3 1.5s ease-out infinite;
    z-index: 2;
}
.box4 {
    animation: tetromino4 1.5s ease-out infinite;
}

@keyframes tetromino1 {
    0%, 40% {
        /* compose logo *//* 1 on 3 *//* L-shape */
        transform: translate(0,0);
    } 50% {
          /* pre-box */
          transform: translate(48px,-27px);
      } 60%, 100% {
            /* box *//* compose logo */
            transform: translate(96px,0);
        }
}

@keyframes tetromino2 {
    0%, 20% {
        /* compose logo *//* 1 on 3 */
        transform: translate(96px, 0px);
    } 40%, 100% {
          /* L-shape *//* box *//* compose logo */
          transform: translate(144px, 27px);
      }
}

@keyframes tetromino3 {
    0% {
        /* compose logo */
        transform: translate(144px, 27px);
    } 20%, 60% {
          /* 1 on 3 *//* L-shape *//* box */
          transform: translate(96px, 54px);
      } 90%, 100% {
            /* compose logo */
            transform: translate(48px, 27px);
        }
}

@keyframes tetromino4 {
    0%, 60% {
        /* compose logo *//* 1 on 3 *//* L-shape *//* box */
        transform: translate(48px, 27px);
    } 90%, 100% {
          /* compose logo */
          transform: translate(0, 0);
      }
}
