.page-footer {
    background-color: white;
}

/*
Navbar style
*/

.navbar {
    background-color: transparent;
    top: 0;
    height: 96px;
    width: 100%;
    display: flex;
}
.nav-left {
    width: 50%;
    height: 100%;
    background-color: white;
}
.nav-right {
    width: 50%;
    height: 100%;
    background-color: black;
}
.coder-dojo-logo {
    position: relative;
}
.nav-list {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
}
.nav-list li {
    margin-left: 50px;
}
.button-collapse {
    position: absolute;
    right: 20px;
    top: 20px;
}
.wrap {
    z-index: 999;
    position: absolute;
    height: 144px;
    width: 144px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
@media only screen and (min-width: 993px) {
    /* Bounce In */
    .hvr-bounce-in {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .hvr-bounce-in:hover,
    .hvr-bounce-in:focus,
    .hvr-bounce-in:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
}
.navbar-menu {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: row;
}
.navbar-menu li {
    margin-right: 2em;
}
.navbar-menu li span {
    font-size: 1.5em;
}
.navbar-menu li span:hover {
    color: #757575;
}
.page-active {
    text-decoration: underline;
}
.black-background {
    background-color: black;
}

/*
    Every page style
*/

main {
    z-index: 1;
}
.con {
    margin-top: 50px;
    height: auto;
    width: 100%;
}
p {
    text-align: justify;
}

.facebook-btn {

    background-color: #4E69A2;
    margin: 0.2em;
}

.form-btn {

    background-color: #61c;
    margin: 0.2em;
}

/*
    Event page style
*/

.central-line {
    background: linear-gradient(#ffffff 0%, #e0e0e0 10%,#e0e0e0 90%, #ffffff 100%);
    position: absolute;
    width: 4px;
    top: 210px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.line {
    z-index: 1;
    height: 4px;
    width: 100%;
    background-color: #757575;
    position: relative;
    top: 50%;
    margin-bottom: -50%;
    transform: (0, -50%);
}

/*
    Home page style
*/

.slides li img {

    opacity: 0.30;
}

/*
    cards style
*/

.course-logo {
    max-height: 150px;
}
h4 {
    text-align: center;
}

/*
    profile style
*/

.profile_pic {
    max-height: 150px;
    max-width: 150px;
}
#about_back_firs {
    margin-left: 25px;
    margin-right: 25px;
    background: url("../img/povo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*
    Error page style
*/

.centered {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-bottom: -50%;
    transform: translate(-50%, -50%);
}

.error-img {
    border-radius: 50%;
}

@media only screen and (max-height: 800px) {

    .error-img {
        margin-top: 60px;
        width: 150px;
        height: auto;
    }
}
