<div class="con" >

    <div class="row">
     <h2 class="center-align">I nostri collaboratori:</h2>
    </div>

    <div class="col s12 m12 l12" ng-show="ctrl.error">
        <h4 class="center-align red-text">{{ctrl.message}}</h4>
    </div>

    <div class="col s12 m12 l12" ng-show="ctrl.loading">
        <h4 class="center-align">Caricamento</h4>
    </div>

    <div class="col s12 l5 offset-l1 m8 offset-m2" ng-repeat="mentor in ctrl.mentors" ng-hide="ctrl.loading">
        <div class="card small hoverable fade">
            <div class="card-image circle waves-effect waves-block waves-light profile_pic">
                <img class="activator responsive-img" ng-src="{{mentor.imgUrl}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{mentor.firstname}} {{mentor.lastname}}<i class="material-icons right">info</i></span>
                <p>CoderDojo Mentor</p>
                <p>{{mentor.role}}</p>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{mentor.firstname}} {{mentor.lastname}}<i class="material-icons right">close</i></span>
                <p>{{mentor.description}}</p>

            </div>
        </div>
    </div>
</div>
